main .contenidoiphone_secundary{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
    .carro{
        width: 50px;
    }
    .textiphone_Secundary{
        color: white;
        font-size: 35px;
    }
}

main section .contenedoriphone_Secundary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    .card{
        border-radius: 50px;
        background-color: rgba(196, 196, 196, 0.57);
    }
}